:root {
  --site-background: hsl(0, 0%, 98%);
  --lightmode-text: hsl(200, 15%, 8%);
  --dark-mode-text: white;
  --dark-mode-element: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-input: hsl(0, 0%, 52%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: var(--site-background);
}

.App {
  color: var(--lightmode-text);
  height: 100%;
}

body .dark {
  color: var(--dark-mode-text);
  background-color: var(--dark-mode-background);
}

body .dark-element {
  color: var(--dark-mode-text);
  background-color: var(--dark-mode-element);
}

.app__body {
  padding: 40px;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  height: 100%;
  min-height: 90vh;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .app__body {
    padding-right: 15px;

    padding-left: 15px;
  }
}

.app__countrysList {
  display: flex;
  justify-content: space-around;
  transition: transform 0.25s;
  flex-wrap: wrap;
  padding: 0px;
}

.app__form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 19px;
  padding-right: 18px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.app__form-input-container {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 12px;
  box-shadow: 2px 3px 3px rgba(107, 101, 101, 0.418);
  width: 600px;

  background-color: white;
  margin-right: auto;
  border-radius: 5px;
}
.app__form-input {
  background-color: white;
  width: 100%;
  border: none;
  outline: none;
  margin-right: auto;
  padding: 12px;
}

.app__form-input-container > button {
  display: none;
  margin: 0;

  padding: 0;
}

.app__form-input-search {
  margin-top: 5px;
}

.app__form-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.app__form-select > h4 {
  background-color: white;
  box-shadow: 2px 3px 3px rgba(107, 101, 101, 0.418);
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.app__form .dark-element {
  background-color: var(--dark-mode-element);
}

.app__form-select > h4:active {
  transform: scale(0.978);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.753);
}

.app__form-select > ul {
  position: absolute;
  margin-top: 420px;
  z-index: 2;
  border-radius: 8px;
  list-style-type: none;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;

  width: 200px;
  box-shadow: 2px 3px 3px rgba(107, 101, 101, 0.418);
}

.app__form-select > ul > li {
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(190, 172, 172, 0.301);
}

@media screen and (max-width: 1000px) {
  .app__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .app__form-input-container {
    width: 310px;
  }
  .app__form-input {
    width: 310px;
  }
  .app__form {
    width: 300px;
  }
}

@media screen and (max-width: 361px) {
  .app__form-input-container {
    width: 200px;
  }
  .app__form {
    width: 200px;
  }

  .app__form-select {
    width: 200px;
  }
}
